@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:300|Major+Mono+Display|Paytone+One');

p {
    font-family: 'Hind Guntur', sans-serif;
}

.main-card {
    width: 100%;
}

.sub-card {
    width:100%;
}

.card p {
    text-align: justify;
}

.brand-logo {
    font-family: 'Major Mono Display', monospace;
    margin-left: 20px;
}

.card-title {
    font-family: 'Paytone One', sans-serif;
    color: #0288d1;
}

.card-title:hover {
    color: #0277bd;
    cursor: pointer;
}

.chip:hover {
    background-color: #cecbcb;
    cursor: pointer;
}

.custom-button {
    color: #00000099;
    background-color: #e4e4e4;
    border: none;
    border-radius: 16px;
    padding: 8px 16px;
}

.custom-button:hover {
    background-color: #cecbcb;
    cursor: pointer;
}

.main-image {
    width: 100%;
    height: 400px;
}

.sub-image {
    width: 100%;
    height: 180px;
}

.info-author {
    color: #00000099;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}