@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:300|Major+Mono+Display|Paytone+One');

p {
    font-family: 'Hind Guntur', sans-serif;
}

.main-card {
    width: 100%;
}

.sub-card {
    width:100%;
}

.card p {
    text-align: justify;
}

.brand-logo {
    font-family: 'Major Mono Display', monospace;
    margin-left: 20px;
}

.card-title {
    font-family: 'Paytone One', sans-serif;
    color: #0288d1;
}

.card-title:hover {
    color: #0277bd;
    cursor: pointer;
}

.chip:hover {
    background-color: #cecbcb;
    cursor: pointer;
}